# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Dataset files
data/raw/
data/processed/

# Trained models
models/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
